<form method="post" action="{{ path('app_pacientes_delete', {'id': paciente.id}) }}" onsubmit="return confirm('Esta seguro de Eliminar');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
